/* Do tohoto souboru piš vlastní styly */
code::before {
    content: "$" ;
}

h1::before,
h2::before {
    content: " ";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: magenta;
    position: relative;
    bottom: 0.06em;
    margin-right: 0.5em;
}


blockquote {
	position: relative;
}

blockquote::before,
blockquote::after {
    content: "„";
    font-size: 5em;
    color: grey;
    position: absolute;  
}
blockquote::before {
	bottom: 0.05em;
	left: 0.15em;
}
blockquote::after {
	content: '“';
	top: 0.05em;
	right: 0.15em;}


    .nahoru {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .nahoru::before,
    .nahoru::after {
        margin-top: -0.7em;
        content: '';
        width: 40%;
        height: 0.4em;
        background-color: #000000;
    }
    
    .nahoru::before {
        transform: rotate(-45deg) translateX(0.2em);
        transform-origin: 100% 50%;
    }
    
    .nahoru::after {
        transform: rotate(45deg);
        transform-origin: 0 50%;
        transform: rotate(45deg) translateX(-0.2em);
    }